<!DOCTYPE html>
<html>
<head>
  <title>Pointer</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Kalam&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <script async defer src=<%="https://maps.googleapis.com/maps/api/js?key=#{Figaro.env.maps_api_key}"%>></script>
  <%= stylesheet_pack_tag 'stylesheets'%>

  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  <%= javascript_pack_tag 'application'%>
</head>

<body>
<% flash.keys.each do |type| %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div data-alert class="alert alert-<%= type %>" role="alert">
    <%= flash[type] %>
    <a href="#" class="close">&times;</a>
  </div>
<% end %>
<%= yield %>
</body>
</html>
